/*define body width*/


body{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;

	background-color:#001;
	background-image: radial-gradient(white 15%, transparent 16%),
	radial-gradient(white 15%, transparent 16%);
	background-size:60px 60px;
	background-position: 0 0, 30px 30px;
}

nav{
	width: 100%;
	margin: 20px 0;
}

nav ul{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	width: 33.33%;
	float: left;
}

nav ul li a{
	text-align: center;
	padding: 8px 0;
	display: block;
	width: 100%;
	background: linear-gradient(to bottom, #000000 0%,#ffffff 100%);
    box-shadow: 0 0 1px #fff;
	text-shadow: 2px 2px 2px #000;

}

nav ul li a:hover{
	background: linear-gradient(to bottom, #ffffff 0%,#000000 100%);
}

nav ul li a,

nav ul li a:focus,

nav ul li a:visited,

nav ul li a:hover,

nav ul li a:active {

  color: #fff;

  text-decoration: none; 
}
